<table>
  <tbody>
    
    <%= render 'comments/comment', comment: comment, title_submission: title_submission, url: url%>

    <tr>
      <td colspan="1"></td>
      <td style="font-size:9px"><u>
          <%= link_to "reply", "/reply?id="+ comment.id.to_s, url: url%>
        </u>
      </td>
    </tr>
  </tbody>
</table>
  
    <table>
      <td &emsp></td>
      <td &emsp></td>
      <td &emsp></td>
      <td>
        <% comment.comments.each do |sub_comment| %>
          <%if sub_comment.author != ""%>
            <%= render 'comments/comment_tree', comment: sub_comment, title_submission: title_submission, url: url %>
          <%end%>
        <%end%>
      </td>
    </table>

  
