


<html lang="en" op="comments">
   <body>
      <center>
         
         <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tbody>
               <%= notice %>
            </tbody>
         </table>
      
         <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            
            <tr id="pagespace" title="" style="height:10px">
               <td></td>
            </tr>
            
            <tr>
               <td>
                  <% if user_signed_in? && @comment.author == current_user.name %>
                     <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                        <%= render 'comment', comment: @comment , title_submission: @title_submission, url: "/delete_comment?id="+@comment.id.to_s%>
                        <tr class="morespace" style="height:10px">
                           <td></td>
                        </tr>
                        
                        <tr>
                           <tr>
                               <td  colspan="3">
                               Do you want this to be deleted?
                               </td>
                             </tr>
                             <tr>
                               <td colspan="1">
                                 <%= button_to 'yes', soft_delete_comment_path(@comment.id), method: :put%>
                               </td>
                               <td colspan="2">
                                 <%= button_to 'No', "/comments/"+@comment.id.to_s+"/edit", method: :get%>
                               </td>
                             </tr>
                        </tr>
                     </table>
                  <%else%>
                     You can't delete this comment
                  <%end%>
               </td>
            </tr>
            
         </table>
         
      </center>
   </body>
   <script type='text/javascript' src='hn.js?QZejSKY7mNWXnObVdaSN'></script>
</html>