<html lang="en" op="comments">
   <body>
      <center>
         
         <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tbody>
               <%= notice %>
            </tbody>
         </table>
      
         <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            
            <tr id="pagespace" title="" style="height:10px">
               <td></td>
            </tr>
            
            <tr>
               <td>
                  <% if user_signed_in? && @comment.author == current_user.name %>
                     <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                        
                        <%= render 'comment', comment: @comment , title_submission: @title_submission, url: "/comments/"+@comment.id.to_s+"/edit"%>
                        <tr class="morespace" style="height:10px">
                           <td></td>
                        </tr>
                        
                        <tr>
                           <td colspan="2"><%= render 'form', comment: @comment %></td>
                        </tr>
                     </table>
                  <%else%>
                     You can't edit this comment
                  <%end%>
               </td>
            </tr>
            
         </table>
         
      </center>
   </body>
   <script type='text/javascript' src='hn.js?QZejSKY7mNWXnObVdaSN'></script>
</html>
