<html lang="en">
   <body>
      <center>
         <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tbody>
              <tr>
                <td>
                  <table class="fatitem" border="0">
                    <tbody>
                      <tr class="athing">    
                        <%= render 'comment', comment: @comments[0], url: "/comments", title_submission: @title_submission%>
                        <%if @comments[0].author != ""%>
                          <td colspan = "2">
                            <%= render 'form', comment: Comment.new, id_father: @comments[0].id, id_submission: @comments[0].id_submission%>
                          </td>
                        <%end%>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
      </center>
   </body>
   <script type='text/javascript' src='hn.js?QZejSKY7mNWXnObVdaSN'></script>
</html>