<html lang="en" op="ask">
   <body>
      <center>
         
         <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tbody>
               <%= notice %>
            </tbody>
         </table>
         
         <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            
            <tr id="pagespace" title="" style="height:10px"></tr>
            
            <tr>
               <td>
                  <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                     
                     
                     <% count = 1 %>
                     <% countURL = 0 %>
                     <% @submissions.each do |submission| %>
                        
                        <%= render 'submission', submission: submission, count: count, url: '/ask', countURL: countURL %>
                        <% count = count + 1%>
                        <% countURL = countURL + 1%>
                        
                     <% end %>
                     
                     
                     <tr class="morespace" style="height:10px"></tr>
                     
                     <tr>
                        <td colspan="2"></td>
                        <td class='title'><a href='ask?p=2' class='morelink' rel='next'>More</a></td>
                     </tr>
                     
                  </table>
               </td>
            </tr>
            
            <tr>
               <td>
                  <%= render 'bottomURL'%>
               </td>
            </tr>
            
         </table>
      </center>
   </body>
   <script type='text/javascript' src='hn.js?QZejSKY7mNWXnObVdaSN'></script>
</html>