<header>
  <br> 
  <style> body {margin:0; padding:0}</style>
  <table class="menu" width ="100%" border="0">
    <div class= 'container'>
    <nav>
      <td class= "menu_td">
        <ul class="nav_links">
          <style>body{margin:100; padding:4}</style>
          <a href = "news">
            <%= image_tag"logo/y18.gif"%>
          </a>
          <li><a href=/news style="font-weight:bold;"> Hacker News </a></li>
          <li class="div_bar">  </li>
          <li><a href=/newest> new </a></li>
          <li class="div_bar"> | </li>
          <li><a href=/submit> submit </a></li>
          <li class="div_bar"> | </li>
          <li><a href=/past> past </a></li>
          <li class="div_bar"> | </li>
          <li><a href=/ask> ask </a></li>
        </ul>
      </td>
    </nav>
    
  </div>
  </table>
</header>