<header>
  <table width=100% align:'left'>
    <tr>
      <td width=1%><%= link_to 'Hacker News', '/news' %></td>
      <td width=1%><%= link_to 'New', '/newest' %></td>
      <td width=1%><%= link_to 'Submit', '/submit' %></td>
    </tr>
  </table>
</header>