<header>
  <div class= 'container'>
    <nav>
      <ul>
        <li><%= link_to 'Hacker News', '/news' %></li>
        <li><%= link_to 'New', '/newest' %></li>
        <li><%= link_to 'Submit', '/submit' %></li>
      </ul>
    </nav>
    
  </div>
</header>