<header>
  <div class= 'container'>
    <nav>
      <ul>
        <li><%= link_to "Hacker News", active_class(news_path) %></li>
        <li><%= link_to "new", active_class(newest_path) %></li>
        <li><%= link_to "submit", active_class(submissions_path) %></li>
      </ul>
    </nav>
    
  </div>
</header>